<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div style="width: 60px; height: 1px; margin: 60px auto 0;"></div>
            <h1><span data-i18n="about_me.about_me">Hello, I am <span style="color: #3385FF">Kai Sing</span> Ng.</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- first two icons -->
        {% for icon in site.author.skill_icon1 %}
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <!-- <i class="fa {{ icon.name }}"></i> -->
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <a href="/kaising/about"><img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt=""></a>
              <br>
                <ul class="list-inline social-icon">

                    {% if site.author.email %}
                    <li style="padding:5px"><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    {% if site.author.cv %}
                    <li style="padding:5px"><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                    <li style="padding:5px"><a href="skype:live:kaising.n?call"><i class="fa fa-skype"></i></a></li>
                    {% if site.author.github_username %}
                    <li style="padding:5px"><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li style="padding:5px"><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li style="padding:5px"><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <!-- second two icons -->
        {% for icon in site.author.skill_icon2 %}
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <!-- <i class="fa {{ icon.name }}"></i> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-s-8 col-s-offset-2 text-center m-t-xs m-b-xs wow zoomIn">

            <a style="color:black;" target="blank" href="http://www.nus.edu.sg/">National University of Singapore</a>
            |
            <a style="color:black;" target="blank" href="http://www.ceg.nus.edu.sg/">B.Eng (Computer Engineering)</a>

        </div>
    </div>

    <div class="row">
        <div class="col-s-8 col-s-offset-2 text-center m-t-xs m-b-xs wow zoomIn">

            <button type="button" class="btn btn-default btn-sm"><a target="blank" href="http://www.eng.nus.edu.sg/edic/dcp.html">Innovation & Design Centric Program </a></button>
            <button type="button" class="btn btn-default btn-sm"><a target="blank" href="https://enterprise.nus.edu.sg/educate/nus-overseas-colleges/programmes/silicon-valley">NUS Overseas Colleges (Silicon Valley)</a></button>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
        </div>
    </div>

    {% if false %}
     <div class="row">
        <center>
            <div class="col-xl-2 m-t-s m-b-lg wow zoomIn about-icon">
                 <a class="m-b-lg" data-toggle="collapse" href="#readmore" aria-expanded="false" area-controls="readmore">Read More</a>
                    <!-- <button class="about-icon" type="button" data-toggle="collapse" data-target="#readmore" aria-expanded="false" aria-controls="readmore"></button> -->

                 <div class="collapse" id="readmore">
                    <div class ="row">
                       <center>  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        {% for paragraph in site.data.index.about %}
                            {% assign loopindex = forloop.index | modulo: 2 %}
                            {% if paragraph.title %}
                                <h1>{{ paragraph.title }}</h1>
                            {% endif %}
                            <p class="text-justify">{{ paragraph.text }}</p>
                            <br>
                        {% endfor %}
                        </div> </center>
                    </div>
                </div>
            </div>
        </center>
    </div>
    {% endif %}
</div>
